@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../pacote-projeto-d010/fontes/idroid.otf');
    font-weight: normal;
}

:root{ /*Guardará as variáveis que podem ser usadas no documento*/
    --cor0: #ebe5c5; /*variável em CSS*/
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

*{  /*Seleciona todos elementos do HTML*/
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{ /*Todos os links que for da classe externo, será colocado depois dele*/
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px; /*minímo altura*/
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a{
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s; /*A transição demorará 0.5 segundos*/
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5o);
}

main{
    min-width: 300px; /*Largura mínima*/
    max-width: 1000px; /*Largura máxima*/
    margin: auto; /*Para poder ficar no meio e não crescer*/
    margin-bottom: 20px; /* Margin de baixo */
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.411);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ; /*bordas de baixo arredondadas*/
}

main h1{
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p{ /* Pode estar dentro de outras tags dentro do main */
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px; /* Páragrafo */
    font-size: 1em;
    line-height: 2em; /* Altura entre linhas */
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%; /*Imagem com tamanho 100% para poder se expremer*/
}

main img.pequena{
    max-width: 350px;
    display: block; /*Transformar a imagem em um bloco*/
    margin: auto;
}

div.video{
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 54.5%;
    position: relative;
}

div.video > iframe{ 
    background-color: var(--cor5);
    position: absolute; /*Quando a posição está absoluta, é possível mexer em top e left*/
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0'; /* 00A0 é o espaço sem quebra */
    list-style-position: inside; /*A posição da lista, com a bolinha para o lado de dentro*/
    columns: 2; /* 2 colunas */
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}